.App {
  background-color: #282c34;
  text-align: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.Temp_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
